@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Roboto:ital,wght@1,500&display=swap');
body{
    margin: 0;
    padding: 0;
}
#coupan{
    background-color: gray;
    height: 490px;
    width: 678px;
    /* margin: -200px 37%; */
    z-index: 100;
    /* position: absolute; */
    position: fixed;
    margin: 7% 29%;
    box-shadow: 0px 0px 7px 3px rgb(77, 75, 75);
    visibility: hidden;
}
#coupan img{
    height: 100%;
    width: 100%;
}
#coupan button{
    position: absolute;
    border-radius: 0;
    background-color: rgb(63, 60, 60);
    color: white;
    font-size: 20px;
    border: none;
    float: right;
    margin-left: 96%;
}
#navspace{
    height: 13%;
    width: 100%;
}
.navbar{
    border-radius: 0px;
    margin-bottom: 0;
}

.nav-clr{
    background-color: #000000CC;
    position: fixed;
    width: 100%;
    border: none;
}
.navbar-inverse .navbar-nav>li>a{
    color: #c2c2c5;
    font-size: 12px;
    padding-left: 25px;
}
#set-nav{
    margin-left: 21%;
    text-align: center;
    
}
#set-nav img{
    height: 18px;
    width: 20px;
}
.glyphicon{
    margin-top:1px;
    font-size: 13px;
}
@media only screen and (max-width:765px){
    #set-nav{
        margin-left: 0%;
        
    }
}
.container1{
    text-align: center;
    background-color: black;
    height: 580px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    color: white;
}
.container h1{
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
}
.container h2{
    font-size: 28px;
    line-height: 1px;
}
.container h4{
    font-size: 21px;
    color: #86868b;
    margin-top: 2%;
}
.container a{
    font-size: 25px;
    margin: 0px 26px;
}
#head{
    margin-top: 3%;
}
#headimg{
    margin-top: 1%;

}
#headimg img{
    height: 338px;
    width: 46%; 
}
.container2{
    text-align: center;
    background-color: white;
    height: 580px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    color: black;
}
#con2h4{
    margin-top: 0%;
}
#headimg1{
    height: 50%;
    width: 100%;
    overflow: hidden;
    margin-top: 1%;
}
#headimg1 img{
    height: 474px;
}
#airpodimg{
    height: 50%;
    width: 100%;
    /* overflow: hidden; */
    margin-top: 1%;
}
#airpodimg img{
    height: 338px;
}
.contwatch{
    width: 100%;
    display: flex;
}
.container3{
    width: 50%;
    margin: 0;
    text-align: center;
    height: 540px;
    background-color: #fbfbfd;
    margin: 10px 10px;
}
.hset{
    color: black;
}
.container4{
    width: 50%;
    margin: 0;
    text-align: center;
    height: 540px;
    color: white;
    margin-top: 0;
    background-color: black;
    margin: 10px 10px;
    overflow: hidden;
}
#head span{
    color: orangered;
    font-family: 'Roboto', sans-serif;
}
#watchimg1 img{
    height: 302px;
}
#head p{
    color: red;
}
#watchimg2 img{
    height: 232px;
    margin-top: 11%;
}
#setline{
   margin-top: 27px;
}
.container5{
    width: 50%;
    margin: 0;
    text-align: center;
    height: 540px;
    color: black;
    margin-top: 0;
    background-color:#f5f5f7;
    margin: 10px 10px;
}
.setpad1 h2{
    line-height: 39px;
    font-size: 45px;
    color: #1d1d1f;
    margin-top: 0%;
    font-family: 'Roboto', sans-serif;
    font-style:italic;
}
#watchimg3 img{
    height: 278px;
    margin-top: 6%;
}
#watchimg4 img{
    height: 324px;
    margin-top: 6%;
}
.setpad2 h2{
    line-height: 19px;
}
footer{
    height: 740px;
    width: 100%;
    margin-top: 1%;
}
.foot{
    height: 186px;
    color: #6E6E73;
    font-size: 12px;
    position: absolute;
    margin: 1% 19%;
    
}
.foot p{
    padding-bottom: 2%;
    border-bottom: 1px solid #8b8b90;
}
.lstfoot{
    width: 14%;
}
#storelst{
    height: 458px;
    width: 100%;
    display: flex;
}
.lstfoot h3{
    font-size: 12px;
    color: #040405;
}
.lstfoot ul{
    padding-left: 0%;
}
.lstfoot ul li{
    list-style: none;
    margin: 12px 0px;
}
.lstfoot ul li a{
    text-decoration: none;
    color: #6E6E73;
    font-size: 12px;

}
.lstfoot ul li a:hover{
    border-bottom: 1px solid #6E6E73;
}
.lstfoot2{
    margin-left: 8%;
}

#downp{
    padding-bottom: 9px;
}
#footend{
    height: 37px;
    width: 100%;
    display: flex;
}
#footend p{
    border: none;
}
#footend ul{
    display: flex;
}
#footend ul li{
    list-style: none;
}
.nob{
    border: none;
}
#footend ul li a{
    text-decoration: none;
    color: #1d1d1f;
    border-left: 0.8px solid #c8c8ce ;
    padding:0px 10px;
}
@media(max-width:900px){
    .contwatch{
        flex-direction: column;
    }
    .container3{
        width: 100%;
    }
    .container4{
        width: 100%;
    }
    .container5{
        width: 100%;
    }
    #coupan{
        height: 400px;
        width: 585px;
        margin: 33% 17%;
    }
    #coupan button{
        margin-left: 94%;
    }
}
@media(max-width:600px){
    .container{
        margin: 0;
    }
    footer{
        height: 690px;
        background-color: #F5F5F7;
    }
    .foot{
        font-size: 5px;
        margin: 2% 10%;
    }
    .lstfoot ul li a{
        font-size: 9px;
    }
    #storelst{
        height: 430px;
    }
    .lstfoot ul li {
        list-style: none;
        margin: 6px 0px;
    }
    .lstfoot h3{
        font-size: 7px;
    }
    .container1{
        height: 335px;
    }
    .container h1{
        font-size: 35px;
    }
    .container h2{
        font-size: 19px;
    }
    .container h4{
        font-size: 14px;
        margin-top: 5%;

    }
    .container a{
        font-size: 18px;
    }
    #headimg img{
        height: 165px;
    }
    #headimg1 img{
        height: 220px;
    }
    .container2{
        height: 335px;
        overflow: hidden;
        margin-top: 2%;
    }
    #airpodimg img{
        height: 160px;
    }
    #watchimg1 img{
        height: 125px;
        margin-top: 2%;
    }
    .container3{
        height: 335px;
    }
    #watchimg2 img{
        height: 112px;
        margin-top: 6%;
    }
    .container4{
        height: 335px;
        margin: 0;
    }
    .setpad1 h2{
        line-height: 20px;
    }
    .container5{
        height: 335px;
    }
    #watchimg3 img{
        height: 144px;
        margin-top: 4%;
    }
    #watchimg4 img{
        height: 190px;
        margin-top: 3%;

    }
    #coupan{
        height: 286px;
        width: 352px;
        margin: 55% 12%;
    }
    #coupan button{
        margin-left: 91%;
    }
}
@media(max-width:330px){
    .container{
        margin: 0;
    }
    footer{
        height: 690px;
        background-color: #F5F5F7;
    }
    .foot{
        font-size: 4px;
        margin: 2% 1%;
    }
    .lstfoot ul li a{
        font-size: 6px;
    }
    #storelst{
        height: 530px;
    }
    .lstfoot ul li {
        list-style: none;
        margin: 6px 0px;
    }
    .lstfoot h3{
        font-size: 6px;
    }
    #footend ul li a {
        padding: 0px 5px;
    }
    .container1{
        height: 294px;
    }
    .container h1{
        font-size: 27px;
    }
    .container h2{
        font-size: 19px;
        display: none;
    }
    .container h4{
        font-size: 12px;
        margin-top: 5%;

    }
    .container a{
        font-size: 14px;
        margin: 0px 14px;
    }
    #headimg img{
        height: 164px;
        width: 92%;
    }
    #headimg1 img{
        height: 215px;
    }
    .container2{
        height: 294px;
        overflow: hidden;
        margin-top: 2%;
    }
    #airpodimg img{
        height: 160px;
    }
    #watchimg1 img{
        height: 150px;
        margin-top: 2%;
    }
    .container3{
        height: 294px;

        overflow: scroll;
    }
    #watchimg2 img{
        height: 140px;
        margin-top: 6%;
    }
    .container4{
        height: 294px;
        margin: 0;
    }
    .setpad1 h2{
        line-height: 20px;
    }
    .container5{
        height: 294px;
        margin-top: 12%;
    }
    #watchimg3 img{
        height: 170px;
        margin-top: 6%;
    }
    #watchimg4 img{
        height: 190px;
        margin-top: 3%;

    }
    #setline{
        margin-top: 11px;
    }
    #coupan{
        height: 199px;
        width: 231px;
        margin: 51% 9%;
    }
    #coupan button{
        margin-left: 88%;
    }
}
@media(max-width:830px){
    #storelst{
        height: 530px;
    }
}